# Miscellaneous files
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode - usually you want to keep .vscode in git, so commented by default
#.vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication and Obfuscation files - ignore generated maps and symbols
app.*.symbols
app.*.map.json

# Android Studio build folders
/android/app/debug
/android/app/profile
/android/app/release

# Your Dart environment file (if this contains secrets or environment config)
lib/other_pages/enviroment.dart
